{% extends 'company/dashboard_base.html' %}

{% block body %}
    <h2 style="color: blue;">Company Dashboard</h2>
   <div class="row" style="border-bottom: solid rgb(83, 83, 248); margin-top: 20px;">
       <div class="col">
            <img class="rounded-circle account-img dp" src="{{ user.company.profilePic.url }}" >
       </div>
       <div class="col" style="color: white; text-align: justify;">
            <h3 style="color: white;">{{ user.username }}</h3>
            <h4 style="color: #111111;">Field: {{ user.company.field }}</h4>
            <h4 style="color: #111111;">Country: {{ user.company.country }}</h4>
            <h4 style="color: #111111;">City: {{ user.company.city }}</h4>
       </div>
   </div>
   <h3 style="color: blue;" style="text-align: center;">Available Interns</h3>
   <div style="overflow-x:auto; overflow-y: auto;">
        <h4 style="color: rgb(9, 192, 9);">Total: {{Attendees|length}}</h4>
        <table class="table table-success table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">School</th>
                        <th scope="col">Course</th>
                        <th scope="col">Year of Study</th>
                        <th scope="col">Field</th>
                        <th scope="col"></th>
                    <tbody>
                        {% for intern in interns %}
                            <tr>
                                <td>{{ intern.user.username }}</td>
                                <td>{{ intern.school }}</td>
                                <td>{{ intern.course }}</td>
                                <td>{{ intern.yearOfStudy }}</td>
                                <td>{{ intern.field }}</td>
                                <td><a class="btn btn-primary" role="button" href="#">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>

        </table>
</div>

{% endblock %}
<style>
    .dp{
        width: 150px; 
        height: 150px;
    }
     @media screen and (max-width: 600px) {
      .dp{
          width: 100px;
          height: 100px
      }
     }
</style>